<div class="row">
  <div class="col-xs-4" style="width: 300px; margin-bottom: 20px;">
    <ng-select [allowClear]="true" [items]="shop_list" [disabled]="disabled" (data)="refreshValueShop($event)" (selected)="selected_shop($event)"
      (removed)="removed($event)" (typed)="typed($event)" placeholder="店铺">
    </ng-select>
  </div>
  <div class="col-xs-4" style="width: 300px; margin-bottom: 20px;">
    <ng-select [allowClear]="true" [items]="book_list" [disabled]="disabled" (data)="refreshValueBook($event)" (selected)="selected_book($event)"
      (removed)="removed($event)" (typed)="typed($event)" placeholder="书目">
    </ng-select>
  </div>

  <div class="col-xs-1">
    <button type="button" class="btn btn-danger custom-button-width .navbar-right" (click)="add()">
        <!--a href="/main/m_shop_bookM_dataCharts" class="btn btn-default"-->
                <span class="glyphicon glyphicon-plus"></span>
                <span class="sr-only">Add Price</span></button>
  </div>

  <div class="col-xs-4" style="width: 300px; margin-bottom: 20px;">
    <ng-select [allowClear]="true" [items]="datatype_list" [disabled]="disabled" (data)="refreshValueDatatype($event)" (selected)="selected_datatype($event)"
      (removed)="removed($event)" (typed)="typed($event)" placeholder="类型">
    </ng-select>
  </div>

  <div class="col-xs-4" *ngIf="template_name_list.length > 0" style="width: 300px; margin-bottom: 20px;">
    <ng-select #select [allowClear]="true" [items]="template_name_list" [disabled]="disabled" (data)="refreshValueTemplate($event)" (selected)="selected_template($event)"
      (removed)="removed($event)" (typed)="typed($event)" placeholder="模板">
    </ng-select>
  </div>

<!--
  <div class="col-xs-2">
  <select [(ngModel)]="datatype" data-live-search="true" style="width: 250px; height: 30px;">
	    <option value="已添加" selected="已添加"></option>
	    <option *ngFor="let n of datatype_list" [value]="n">{{n}}</option>
    </select>
  </div>

  <div class="col-xs-1">
    <select class="selectpicker" [(ngModel)]="datatype" data-live-search="true" style="width: 80px; height: 30px;">
        <option>售价</option>
        <option>折扣</option>
        <option>销量</option>
        <option>评论数</option>
        <option>直通车投入</option>
      </select>
  </div>

  <div class="col-xs-1">
    <select class="selectpicker" [(ngModel)]="template" (click)="load_template()" data-live-search="true" style="width: 80px; height: 30px;">
        <option>模板一</option>
        <option>模板二</option>
        <option>模板三</option>
      </select>
  </div>
-->

  <div class="col-xs-2">
    <!--
    <button type="button" class="btn btn-danger custom-button-width .navbar-right" (click)="save_template()">保存模板</button>
    -->
    <button type="button" class="btn btn-danger custom-button-width .navbar-right" (click)="staticModal.show()">保存模板</button>
    <button type="button" class="btn btn-danger custom-button-width .navbar-right" (click)="query()">查询</button>
    <!--<span class="btn btn-primary" onclick="randomize()"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Update</span>-->
  </div>
</div>

<div class="row">
  <div class="col-xs-1">
    <button type="button" class="btn btn-danger custom-button-width .navbar-right" (click)="clear()">
        <!--a href="/main/m_shop_bookM_dataCharts" class="btn btn-default"-->
                <span class="glyphicon glyphicon-remove"></span>
                <span class="sr-only">Add Price</span></button>
  </div>
  <div>
    <!-- [editable]='true' -->
    <tag-input [(ngModel)]="tags" (onRemove)="remove($event)" placeholder="已添加" [maxItems]=0></tag-input>
  </div>
</div>

<div class="row">
  <div *ngFor="let lineChartData of lineChartDataArray; let index=index; let odd=odd; let even=even;">
    <div *ngIf="even||odd">
      <div class="form-group" class="col-md-4">
        <canvas baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabelArray[index]" [options]="lineChartOptions" [colors]="lineChartColours"
          [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title pull-left">保存模板</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="模板名称" title="请输入用户名" [(ngModel)]="templ_name" name="templ_name" id="templ_name"
                                class="form-control mr-sm-2" required>
      </div>

      <div class="modal-body">
        <button type="button" class="btn btn-primary" (click)="save_template(); staticModal.hide()">确认</button>
      </div>

    </div>
  </div>
</div>