<div class="row">
  <div class="col-xs-4" style="width: 300px; margin-bottom: 20px;">
    <ng-select [allowClear]="true" [items]="category_list" [disabled]="disabled" (data)="refreshValueDatatype($event)" (selected)="selected_datatype($event)"
      (removed)="removed($event)" (typed)="typed($event)" placeholder="类别">
    </ng-select>
  </div>

  <div class="col-xs-4" style="width: 300px; margin-bottom: 20px;">
    <ng-select [allowClear]="true" [items]="formula_list" [disabled]="disabled" (data)="refreshValueDatatype($event)" (selected)="selected_datatype($event)"
      (removed)="removed($event)" (typed)="typed($event)" placeholder="公式">
    </ng-select>
  </div>

  <div class="col-xs-4" style="width: 300px; margin-bottom: 20px;">
    <ng-select [allowClear]="true" [items]="period_list" [disabled]="disabled" (data)="refreshPeriod($event)" (selected)="selected_period($event)"
      (removed)="removed($event)" (typed)="typed($event)" placeholder="周期">
    </ng-select>
  </div>

  <!--
  <div class="col-xs-2 " style="width: 300px; height: 30px;">
    <!-- {{dateValue | date:"yyyy/MM/dd "}} ->
    <fx-datepicker [id]="demo-date" [value]="date"></fx-datepicker>
  </div>
  -->
  
  <div class="col-xs-2">
    <button type="button" class="btn btn-danger custom-button-width .navbar-right" (click)="query()">查询</button>
    <!--<span class="btn btn-primary" onclick="randomize()"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Update</span>-->
  </div>
</div>

<ktable [label]='test_label' [value]='test_value'> </ktable>