<div *ngIf="current_user === 'admin'"><span><font size="5">用户列表</font></span>
</div>

<!--
<span *ngIf="current_user !== 'admin'" style="float:right"> <button type="button" [disabled]="!btn_add" class="btn btn-primary" (click)="btn_add = false; isCollapsedContent = !isCollapsedContent; isCollapsedContent1 = !isCollapsedContent1; flag_add='a'">添加用户</button></span>
-->

<hr>
<div *ngIf="current_user === 'admin'" [collapse]="isCollapsedContent" class="card card-block card-header">
  <div class="well well-lg">
    <!--<ktable [label]='test_label' [value]='test_value'> </ktable> -->
    <ng2-smart-table font-size="5" [settings]="settings" [source]="data" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
  </div>
</div>

<div *ngIf="current_user !== 'admin'">
  <form action="#" id="loginForm" (ngSubmit)="add(userLoginForm); btn_add = true; isCollapsedContent = !isCollapsedContent; isCollapsedContent1 = !isCollapsedContent1"
    #userLoginForm="ngForm">
    <div class="form-group">
      <label class="control-label" for="username">用户名</label>
      <input type="text" title="请输入用户名" [(ngModel)]="user.user" name="_username" id="username" class="form-control mr-sm-2" readonly="readonly"
        required>
    </div>
    <div class="form-group">
      <label class="control-label" for="password">密码</label>
      <input type="password" title="请输入密码" [(ngModel)]="user.pass" name="_password" id="password" class="form-control mr-sm-2"
        required>
    </div>
    <div class="form-group">
      <label class="control-label">角色</label>
      <ng-select [allowClear]="false" [items]="role_list" [active]="[active_role]" [disabled]="true" (data)="refreshValueRole($event)"
        (selected)="selected_role($event)" (removed)="removed($event)" (typed)="typed($event)">
      </ng-select>
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-block" type="submit">确定</button>
      <button type="button" class="btn btn-danger btn-block" (click)="btn_add = true; isCollapsedContent = !isCollapsedContent; isCollapsedContent1 = !isCollapsedContent1">取消</button>
    </div>
  </form>
</div>

<!--
<div [collapse]="isCollapsedContent1" class="card card-block card-header">
  <div class="well well-lg">
    <div *ngIf="flag_add==='a'">
      <form action="#" id="loginForm" (ngSubmit)="add(userLoginForm); btn_add = true; isCollapsedContent = !isCollapsedContent; isCollapsedContent1 = !isCollapsedContent1"
        #userLoginForm="ngForm">
        <div class="form-group">
          <label class="control-label" for="username">用户名</label>
          <input type="text" title="请输入用户名" [(ngModel)]="user.user" name="_username" id="username" class="form-control mr-sm-2" required>
        </div>
        <div class="form-group">
          <label class="control-label" for="password">密码</label>
          <input type="password" title="请输入密码" [(ngModel)]="user.pass" name="_password" id="password" class="form-control mr-sm-2"
            required>
        </div>
        <div class="form-group">
          <label class="control-label">角色</label>
          <ng-select [allowClear]="true" [items]="role_list" [disabled]="disabled" (data)="refreshValueRole($event)" (selected)="selected_role($event)"
            (removed)="removed($event)" (typed)="typed($event)">
          </ng-select>
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block" type="submit">确定</button>
          <button type="button" class="btn btn-danger btn-block" (click)="btn_add = true; isCollapsedContent = !isCollapsedContent; isCollapsedContent1 = !isCollapsedContent1">取消</button>
        </div>
      </form>
    </div>

    <div *ngIf="flag_add==='e'">
      <form action="#" id="loginForm" (ngSubmit)="add(userLoginForm); btn_add = true; isCollapsedContent = !isCollapsedContent; isCollapsedContent1 = !isCollapsedContent1"
        #userLoginForm="ngForm">
        <div class="form-group">
          <label class="control-label" for="username">用户名</label>
          <input type="text" title="请输入用户名" [(ngModel)]="user.user" name="_username" id="username" class="form-control mr-sm-2" readonly="readonly"
            required>
        </div>
        <div class="form-group">
          <label class="control-label" for="password">密码</label>
          <input type="password" title="请输入密码" [(ngModel)]="user.pass" name="_password" id="password" class="form-control mr-sm-2"
            required>
        </div>
        <div class="form-group">
          <label class="control-label">角色</label>
          <ng-select [allowClear]="false" [items]="role_list" [active]="[active_role]" [disabled]="true" (data)="refreshValueRole($event)"
            (selected)="selected_role($event)" (removed)="removed($event)" (typed)="typed($event)">
          </ng-select>
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block" type="submit">确定</button>
          <button type="button" class="btn btn-danger btn-block" (click)="btn_add = true; isCollapsedContent = !isCollapsedContent; isCollapsedContent1 = !isCollapsedContent1">取消</button>
        </div>
      </form>
    </div>
  </div>
</div>
-->

<!--
<div>
  <h2>用户列表</h2>

  <table>
    <thead>
      <td>用户列表</td>
      <td></td>
    </thead>
    <tbody>
      <tr *ngFor="let entry of user_list; let idx = index">
        <td style="width: 100px; margin-bottom: 20px;">{{ entry.name }}</td>
        <td style="width: 100px; margin-bottom: 20px;">{{ entry.role }}</td>
        <td><input type="radio" name="certificategroup" (change)="onSelectionChange(entry)" [checked]="(idx === 0)" [value]="entry.value"></td>
        <td style="width: 50px; margin-bottom: 20px;"><button type="button" class="btn btn-danger custom-button-width .navbar-right" (click)="modify()">修改</button></td>
        <td style="width: 50px; margin-bottom: 20px;"><button type="button" class="btn btn-danger custom-button-width .navbar-right" (click)="remove()">删除</button></td>
      </tr>
    </tbody>
  </table>

  <hr>

  <pre>
{{ this.selectedEntry | json }}
</pre>

</div>
-->